<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Besoin d'animaux pour votre zoo ? </title>
</head>
<body>
<h1>Achat d'animaux</h1>
<table>
    <tr>
        <th>Nom</th>
        <th>Catégorie</th>
        <th>Prix</th>
    </tr>

        <tr th:each="animal : ${animals}">
        <td th:text="${animal.getName()}"></td>
        <td th:text="${animal.getCategory()}"></td>
        <td th:text="${animal.getPrice()}"></td>
        </tr>

</table>
<a href="/aAnimal">Cliquer ici</a>

</body>
</html>